<!-- TOP BAR 
	============================================= -->
	<div class="b-top-bar">
		<div class="container layout">
			<!-- Some text -->
			<div class="wrap-left">
				<span class="top-bar-text">Integrity | Insight | Impact</span>
			</div>
			<div class="wrap-right">
				<!-- Phone -->
				<span class="top-bar-phone"><span class="icon-phone">Call us: </span> 1.408.444.9250</span>
				<!-- Social Icons -->
				<div class="top-bar-social">
					<a class="fb" href="#"><i class="icon-facebook"></i></a>
					<a class="tw" href="#"><i class="icon-twitter"></i></a>
					<a class="lin" href="#"><i class="icon-linkedin"></i></a>
				<!--	<a class="gl" href="#"><i class="icon-google-plus"></i></a>
					<a class="dr" href="#"><i class="icon-dribbble"></i></a>
					<a class="sk" href="#"><i class="icon-skype"></i></a>
					<a class="rss" href="#"><i class="icon-rss"></i></a> -->
					<!-- 
					<a class="yt" href="#"><i class="icon-youtube"></i></a>
					<a class="pt" href="#"><i class="icon-pinterest"></i></a>
					<a class="tl" href="#"><i class="icon-tumblr"></i></a>
					<a class="is" href="#"><i class="icon-instagram"></i></a>
					<a class="vk" href="#"><i class="icon-vk"></i></a>
					<a class="dx" href="#"><i class="icon-dropbox"></i></a>
					<a class="fs" href="#"><i class="icon-foursquare"></i></a>
					<a class="gh" href="#"><i class="icon-github-alt"></i></a>
					<a class="mx" href="#"><i class="icon-maxcdn"></i></a> 
					-->
				</div>
				<!-- End Social Icons -->
			</div>
		</div>
	</div>
	<!-- END TOP BAR 
	============================================= -->

	<!-- HEADER 
	============================================= -->
	<div class="header">
		<header>
			<div class="navbar yamm navbar-default navbar-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a href="" class="navbar-brand logo"><img src="../../assets/img/logo.PNG" alt=""></a>
					</div>
					<div id="navbar-collapse-1" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<!-- Classic list -->
						<!--	<li class="dropdown yamm-fw yamm-fw5">
								<a routerLink="/" data-toggle="dropdown" class="dropdown-toggle active"><i class="icon-home"></i>Home</a>
							</li>
							<li>
								<a routerLink="aboutus" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-user"></i>About Us </a>
								
							</li>
							<li class="dropdown">
								<a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-file"></i>Services</a>
								<ul class="dropdown-menu yamm-sm">
									<li><a href="">Product Services</a></li>
									<li><a href="">R & D Services</a></li>
									<li><a href="">Data Services</a></li>
									<li><a href="">AI Tools</a></li>
									
								</ul> 
							</li> 
							<li>
								<a routerLink="products" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-foursquare"></i>Products</a>
								
							</li> -->
						<!-- 	<li class="dropdown">
								<a href="contact" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-envelope"></i>Contact Us</a>
								
							</li> -->
						<!--	<li style="margin-top: 22px;">
								<button class="btn btn-primary" style="    background: #00374e;
								color: white;" data-toggle="modal" data-target="#exampleModal">Download</button>
							</li> -->
						</ul>
						<!-- Search Form -->
					
						<!-- End Search Form -->
					</div>
				</div>
			</div>
		</header>
	</div>
	<!-- END HEADER 
	============================================= -->

	<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #00374e;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Please fill the form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form class="b-form b-contact-form" action="http://www.ckthemes.com/html/boson/contact.php">
			<div class="input-wrap m-full-width">
				<i class="icon-user"></i>
				<input class="field-name" type="text" placeholder="Name (required)">
			</div>
			<div class="input-wrap m-full-width">
				<i class="icon-envelope"></i>
				<input class="field-email" type="text" placeholder="E-mail (required)">
			</div>
		<!--	<div class="input-wrap m-full-width">
				<i class="icon-phone"></i>
				<input class="field-email" type="text" placeholder="Phone (required)">
			</div> -->
			<div class="textarea-wrap">
				<i class="icon-pencil"></i>
				<textarea class="field-comments" placeholder="Message"></textarea>
			</div>

			<input class="btn-submit btn colored" type="submit" value="Send">
		</form>      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>