<!-- CONTENT 
	============================================= -->
    <div class="content shortcodes">
        <div class="container layout">
            <div class="row">
                <div class="row-item col-md-9">
                    <div class="post">
                        <!-- Post Title & Meta -->
                        <h2>Sociyall - an umbrella  social app for aggregating multiple raw social media feeds</h2>
                        <div class="post-meta">
                            Posted by <span class="meta-author"><a href="#">Eprobito</a></span>
                            <span class="meta-date">on Jan 12, 2023</span>
                            <span class="meta-tags"><a href="#">TCP.</a></span>
                            <span class="meta-comment"><a href="#">4 comments</a></span>
                        </div>
                        <!-- End Post Title & Meta -->
                        <!-- Slider -->
                        <div class="b-carousel">
                            <div class="carousel-content">
                                <img class="carousel-item" src="../../assets/img/Sociyall_banner.jpg" alt="">
                            </div>
                        </div>
                        <!-- Slider -->
                        <!-- Post Content -->
                        <div class="post-content">
                            <p>
                                Sociyall was built with the understanding that users have a need to interact with specific social media feeds at specific points in time. So, the app provides a mechanism to “follow” based on 

    
                            </p>
                            <p><b>P</b>eople: Specific people that you would like to keep updated about</p>
                                <p><b>E</b>vents: All social media around an event is tracked. After the event is over, this is turned off</p>
                                    <p><b>L</b>ocation: All social media related to a location is allowed in the app’s feed</p>
                                        <p><b>T</b>hings: Specific “product” related social media is tracked.</p>
                                        <p>At any given point in time, the user can change, turn on, turn on any of the PELT feeds he/she wants to continue receiving.
                                        </p>
                           <p>
                            Currently, the social media enabled on Sociyall include Facebook, Twitter and Instagram.
                           </p>
                          
    
                            <!-- Gallery -->
                            <div class="b-gallery">
                                <div class="img-wrap">
                                    <a class="pretty-photo-item" rel="prettyPhoto[gallery]"
                                        href="../../assets/img/Sociyall_banner.jpg">
                                        <img src="../../assets/img/Sociyall_banner_small.jpg" alt="">
                                        <div class="link-overlay icon-search"></div>
                                    </a>
                                </div>
                               
    
                            </div>
                            <!-- End Gallery -->
    
                        </div>
                        <!-- End Post Content -->
                        <!-- About the Author -->
                        <div class="b-user-info">
                            <div class="user-info-ava">
                                <img src="img/team/team-5.jpg" alt="">
                            </div>
                            <div class="user-info-bio">
                                <div class="user-info-name">
                                    About the Author
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                    tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                    quis nostrud exerci tation ullamcorper suscipit lobortis nisl <a href="#"
                                        class="link">@jhon_doe_lorem</a>
                                </p>
                            </div>
                        </div>
                        <!-- End About the Author -->
                        <!-- Related Posts -->
                        <div class="title">
                            <h3 class="lined related-post-head">Related Posts</h3>
                        </div>
                        <div class="row related-post">
                            <!-- Related Post 1 -->
                            <div class="row-item col-md-3">
                                <div class="post-preview">
                                    <a href="blog-single-image.html" class="post-image">
                                        <img src="../../assets/img/blog/bm-4.jpg" alt="">
                                        <div class="link-overlay icon-chevron-right"></div>
                                    </a>
    
                                    <h5><a href="blog-single-image.html" class="dark-link">Lobortis Nisl Ut Aliquip</a></h5>
    
                                    <div class="post-meta">
                                        <span class="meta-date">Jan 12, 2013</span>
                                        <span class="meta-comment"><a href="#">2 comments</a></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Related Post 2 -->
                            <!-- Related Post 2 -->
                            <div class="row-item col-md-3">
                                <div class="post-preview">
                                    <a href="blog-single-image.html" rel="prettyPhoto" class="post-image">
                                        <img src="../../assets/img/blog/bm-2.jpg" alt="">
                                        <div class="link-overlay icon-chevron-right"></div>
                                    </a>
                                    <h5><a href="blog-single-image.html" class="dark-link">Illum Dolore Eu Feugiat</a></h5>
                                    <div class="post-meta">
                                        <span class="meta-date">Jan 12, 2013</span>
                                        <span class="meta-comment"><a href="#">1 comments</a></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Related Post 2 -->
                            <!-- Related Post 3 -->
                            <div class="row-item col-md-3">
                                <div class="post-preview">
                                    <a href="blog-single-image.html" rel="prettyPhoto" class="post-image">
                                        <img src="../../assets/img/blog/bm-3.jpg" alt="">
                                        <div class="link-overlay icon-chevron-right"></div>
                                    </a>
    
                                    <h5><a href="blog-single-image.html" class="dark-link">Consectetuer Adipiscing Elit</a>
                                    </h5>
    
                                    <div class="post-meta">
                                        <span class="meta-date">Jan 12, 2013</span>
                                        <span class="meta-comment"><a href="#">4 comments</a></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Related Post 3 -->
                        </div>
                        <!-- End Related Posts -->
    
                    </div>
                </div>
                <!-- Sidebar -->
                <div class="row-item col-md-3 sidebar card" style="background: #00374e;
                padding: 21px;">
    
                <h2 style="color:white;text-align: center;padding: 10px;
                            ">Contact Form</h2>
                <!-- Success Message -->
                <div class="form-message"></div>
                <!-- Form -->
                <form class="b-form b-contact-form" action="http://www.ckthemes.com/html/boson/contact.php">
                    <div class="input-wrap m-full-width">
                        <i class="icon-user"></i>
                        <input class="field-name" type="text" placeholder="Name (required)">
                    </div>
                    <div class="input-wrap m-full-width">
                        <i class="icon-envelope"></i>
                        <input class="field-email" type="text" placeholder="E-mail (required)">
                    </div>
                    <div class="input-wrap m-full-width">
                        <i class="icon-phone"></i>
                        <input class="field-email" type="text" placeholder="Phone (required)">
                    </div>
                    <div class="textarea-wrap">
                        <i class="icon-pencil"></i>
                        <textarea class="field-comments" placeholder="Message"></textarea>
                    </div>
    
                    <input class="btn-submit btn colored" type="submit" value="Send">
                </form>
                <!-- End Form -->
            </div>
                <!-- End Sidebar -->
            </div>
        </div>
    </div>
    <!-- END CONTENT 
        ============================================= -->