
<a id="about-us-content"> </a>
<div class="content content-featured">

    <div class="container layout">
        <p style="font-family: cursive;"> <b style="    font-size: 32px;"> About Us</b></p>
        <br>
        <img src="../../assets/img/slider/probity_image_wide2.jpg" alt="">
        <br>
        <p style="font-family: cursive;"> <b style="    font-size: 21px;">Probity :</b>  “  the quality of having strong moral principles"  honesty and decency</p>
        <p style="font-family: cursive;"><b style="    font-size: 21px;">Synonyms : </b> integrity ‚ honesty ‚ uprightness ‚ decency ‚ morality ‚ rectitude , goodness ‚
            right-mindedness‚ trustworthiness ‚ truthfulness ‚ honorableness ‚ justice ‚
            fairness ‚ principles ‚ ethics</p>
        <p style="font-size: 12px;line-height: 30px;">&nbsp;&nbsp;(https://www.thefreedictionary.com/probity)</p> 
        <br>
        <p style="font-family: cursive;"> <b style="    font-size: 21px;">eProbito</b>
        <br>&nbsp;&nbsp;* An organization that has probity as its guiding principle.
        <br>&nbsp;&nbsp;* In one shape or form, eProbito has been in existence since Q4 2012.
        <br>&nbsp;&nbsp;* eProbito is a group of tightly knit, highly experienced individuals.
        <br>&nbsp;&nbsp;* eProbito delivers actionable insights at the strategic, tactical and operational levels.
        <br>&nbsp;&nbsp;* eProbito provides implementation assistance for projects big or small.
       
        </p>
    </div>
</div>
