<!-- REVOLUTION SLIDER
	============================================= -->
<div class="fullwidthbanner-container top-shadow">
    <div class="fullwidthbanner">
        <ul>
            <!-- Slide 1 -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                <!-- Main Image -->
                <img src="../../assets/img/slider/Slider-3.jpg" alt="">
                <!-- End Main Image -->
                <!-- Captions -->
                <div class="tp-caption m-2-2em m-bg-black sft" data-x="40" data-y="150" data-speed="500"
                    data-start="500" data-easing="easeOutExpo">
                    <span>It is 1 pm….Do you know what your AI is doing? &nbsp; &nbsp; (We do !)<br>
                    </span>
                </div>

                <div class="tp-caption sfb" data-x="40" data-y="257" data-speed="500" data-start="700"
                    data-easing="easeInOutExpo">
                <!--    <a href="#" class="btn colored">More<i class="icon-chevron-sign-right"
                            style="margin: 0 0 0 7px;"></i></a> -->
                </div>
                <!-- End captions -->
            </li>
            <!-- End Slide 1 -->

            <!-- Slide 4 -->
            <li data-transition="fade" data-slotamount="4" data-masterspeed="300">
                <!-- Main Image -->
                <img src="../../assets/img/slider/Slider-2.jpg" alt="">
                <!-- End Main Image -->
                <!-- Captions -->
                <div class="tp-caption m-2-2em m-bg-black sft" data-x="40" data-y="100" data-speed="500"
                    data-start="500" data-easing="easeOutExpo">
                    <span>'Companies must use artificial intelligence to compete<br> or go bankrupt as the pace of
                        advancement soars' <br><br> - Ark Invest futurist Brett Winton</span>
                </div>

                <div class="tp-caption sfb" data-x="40" data-y="257" data-speed="500" data-start="700"
                    data-easing="easeInOutExpo">
                <!--    <a href="#" class="btn colored">More<i class="icon-chevron-sign-right"
                            style="margin: 0 0 0 10px;"></i></a> -->
                </div>
                <!-- End captions -->
            </li>
            <!-- End Slide 4 -->
            <!-- Slide 5 -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="300">
                <!-- Main Image -->
                <!-- <img src="../../assets/img/slider/Slider-11.jpg" alt=""> -->
                <img src="../../assets/img/slider/Slider-11-new.jpg" alt="">
                <!-- End Main Image -->
                <!-- Captions -->
                <div class="tp-caption m-2-2em m-bg-black sft" data-x="40" data-y="150" data-speed="500"
                    data-start="500" data-easing="easeOutExpo">
                    <span>AI is simple; AI is confusing</span>
                </div>

                <div class="tp-caption sfb" data-x="40" data-y="257" data-speed="500" data-start="700"
                    data-easing="easeInOutExpo">
                <!--    <a href="#" class="btn colored">More<i class="icon-chevron-sign-right"
                            style="margin: 0 0 0 7px;"></i></a> -->
                </div>
                <!-- End captions -->
            </li>
            <!-- End Slide 5 -->
        </ul>
    </div>
</div>
<!-- END REVOLUTION SLIDER
	============================================= -->

<!-- FEATURED CONTENT
        ============================================= -->
        <a id="about-us-content"> </a>
        <div class="content content-featured">
        
            <div class="container layout">
                <p> <b style="    font-size: 32px;"> About Us</b></p>
                <br>
                <p><img src="../../assets/img/slider/probity_image_wide2.jpg" alt=""></p>
                <br>
                <p> <b style="    font-size: 21px;">Probity :</b>  “  the quality of having strong moral principles"  honesty and decency</p>
                <p><b style="    font-size: 21px;">Synonyms : </b> integrity ‚ honesty ‚ uprightness ‚ decency ‚ morality ‚ rectitude , ...
                    <!-- goodness ‚
                    right-mindedness‚ trustworthiness ‚ truthfulness ‚ honorableness ‚ justice ‚
                    fairness ‚ principles ‚ ethics --> </p>
                <p style="font-size: 12px;line-height: 30px;">&nbsp;&nbsp;(https://www.thefreedictionary.com/probity)</p> 
                <br>
                <p> <b style="    font-size: 21px;">eProbito</b>
                <br>&nbsp;&nbsp;* An organization that has probity as its guiding principle.
                <br>&nbsp;&nbsp;* In one shape or form, eProbito has been in existence since Q4 2012.
                <br>&nbsp;&nbsp;* eProbito is a group of tightly knit, highly experienced individuals.
                <br>&nbsp;&nbsp;* eProbito delivers actionable insights at the strategic, tactical and operational levels.
                <br>&nbsp;&nbsp;* eProbito provides implementation assistance for projects big or small.
               
                </p>
            </div>
        </div>
<!-- END FEATURED CONTENT
	============================================= -->


<!-- CONTENT 
	============================================= -->
<div class="content gray-content">

    <div class="container layout" style="padding-bottom: 1px;">
        <p> <b style="    font-size: 32px;"> Services</b></p>
                <br>
        <h3 class="centered"> Solutions tailored to you, your industry, your culture, and your unique challenges - at a
            fixed price in a time box. </h3><br>
       
        <div class="row">
            <div class="row-item col-md-3">
                <!-- Icon Box -->
                <div class="b-service">
                    <a href="#"><i class="icon-html5 m-dark"></i></a>
                    <h3 class="centered"><a href="#" class="dark-link">Product Services</a></h3>
                    <p class="centered">
                        Idea to Reality. Plans to Production. Concept to Revenue.
                    </p>
                </div>
                <!-- End Icon Box -->
            </div>
            <div class="row-item col-md-3">
                <!-- Icon Box -->
                <div class="b-service">
                    <a href="#"><i class="icon-css3 m-dark"></i></a>
                    <h3 class="centered"><a href="#" class="dark-link">R & D Services
                        </a></h3>
                    <p class="centered">
                        Idea Validation. Reusable Fixed Cost Prototypes.
                    </p>
                </div>
                <!-- End Icon Box -->
            </div>
            <div class="row-item col-md-3">
                <!-- Icon Box -->
                <div class="b-service">
                    <a href="#"><i class="icon-magic m-dark"></i></a>
                    <h3 class="centered"><a href="#" class="dark-link">Data Services</a></h3>
                    <p class="centered">
                        Data Cleansing. Data Labeling. Synthetic Data. Data Analysis.
                    </p>
                </div>
                <!-- End Icon Box -->
            </div>
            <div class="row-item col-md-3">
                <!-- Icon Box -->
                <div class="b-service">
                    <a href="#"><i class="icon-lightbulb m-dark"></i></a>
                    <h3 class="centered"><a href="#" class="dark-link"> AI Tools
                        </a></h3>
                    <p class="centered">
                        Business Focused No Code No Infrastructure AI Tools
                    </p>
                </div>
                <!-- End Icon Box -->
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="shortcodes parallax" data-stellar-background-ratio="0.5" style="background: url(../../assets/img/parallax/6.jpg);">
        <div class="container layout">
            <div class="row">
                <div class="row-item col-md-6">
                    <p><a href="../../assets/img/tablet_boson.png"><img class="aligncenter size-full" src="../../assets/img/tablet_boson.png"
                                alt="tablet_boson" height="400" width="475"></a></p>
                </div>
                <div class="row-item col-md-6">
                    <div class="call-action">
                        <div class="b-promo margin-30">
                            <h1>Why Us</h1>
                            <h6>We stand out from the pack because of our approach….</h6>
                            <ul style="font-size: 16px;line-height: 30px;">

                                <li>Start with Business Focused Strategic Plan</li>
                                <li>Small Projects - Bottoms Up approach</li>
                                <li>Start with Business Process</li>
                                <li>Time Boxed</li>
                                <li>Clearly Defined, Quantified Benefits</li>
                                <li>Vendor Agnostic</li>
                                <li>Low Code, Low Maintenance</li>
                                <li>Business User Interface (BUI) as opposed to GUI</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="parallax" data-stellar-background-ratio="0.5" style="background: url(../../assets/img/parallax/1.jpg)">
        <div class="container layout">
            <div class="row">
                <div class="row-item col-md-12">
                    <div class="call-action">
                        <div class="b-promo margin-30">
                            <a href="http://themeforest.net/item/boson-responsive-multipurpose-html5-template/11043414"
                                class="btn big colored">Download</a>
                            <h3>Don't Wait Get Started Today!</h3>
                            Download our 6 step process for utlizing AI tools and techniques without writing code no
                            matter the size of your organization.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container layout">
        <h3 class="lined margin-20">Recent Products / Projects</h3>
        <div class="row port b-works">
            <div class="row-item col-md-4 identity photography tehnology">
                <div class="work">
                    <a href="#" class="work-image">
                        <img src="../../assets/img/ocrnlp.JPG" alt="">
                        <div class="link-overlay icon-chevron-right"></div>
                    </a>
                    <a href="http://wwww.ezaitool.com" class="work-name">AIDA</a>
                    <div>
                        We believe that unlike past technological advances which took a long time to permeate from
                            being the “advantage” of a few large companies to being available to all, the AI (Artificial
                            Intelligence) revolution can and should be made usable by large number of small to medium
                            sized businesses, notwithstanding their size or their technical capabilities. To this end,
                            we have designed a simple, easy to use, no code Business User Interface (BUI as opposed to
                            GUI) that will allow any business user anywhere in the company hierarchy to utilize the
                            latest in AI tools to define and solve business problems at the operational, tactical and
                            strategic levels.
                    </div>
                </div>
            </div>
            <div class="row-item col-md-4 photography webdesign">
                <div class="work">
                    <a href="http://www.360lsp.com" rel="prettyPhoto" class="work-image">
                        <img src="../../assets/img/360lsp.JPG" alt="">
                        <div class="link-overlay icon-search"></div>
                    </a>
                    <a href="#" class="work-name">Universal Exchange - Bringing Liquidity to Illiquid Assets</a>
                    <div>
                        The Universal Exchange is a platform for peer-to-peer purchase and sale of alternative assets. The key aspects of this Exchange are:
                        <ul>
                            <li><span>Peer to Peer</span></li>
                            <li><span>Single Platform across multiple alternative assets </span></li>
                            <li><span>Unitization of alternative asset investments</span></li>
                            <li><span>Auction and Reverse Auction Mechanisms</span></li>
                            <li><span>Smart Contracts</span></li>
                            <li><span>Valuation and Provenance Services</span></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="row-item col-md-4 identity">
                <div class="work">
                    <a href="http://capstoneplatform.com" rel="prettyPhoto" class="work-image">
                        <img src="../../assets/img/tcp.jpg" alt="">
                        <div class="link-overlay icon-play"></div>
                    </a>
                    <a href="#" class="work-name">TCP - An integrated
                        Insurance Policy Servicing Platform</a>
                    <div>
                        <!-- Post Content -->
                        <div style = "float:left">
                            
                            
                                The platform supports
    
                            <br>
                           A. Policy Management Services
                            
                           <br>
                           B. Insured Tracking Services
                            
                            
                            <br>
                            C. Death Claim Processing
                            
                            
                            <br>
                            D. Life expectancy review
                            <br>
                            <p style="font-size: 12px;line-height: 30px;">&nbsp;&nbsp;(Owned by Altvest Capital LLC)</p>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
        <div class="gap" style="height: 20px;"></div>



        <!-- End Quote in the Box -->



    </div>
</div>
<!--	<div class="content">
		<div class="shortcodes parallax" data-stellar-background-ratio="0.5" style="background: url(../../assets/img/parallax/8.jpg);">
			<div class="container layout">
				<div class="row">
					<div class="row-item col-md-3">
						<h1 class="vcex-milestone-number"><span style="color: #ffffff">784</span></h1>
						<h3><span style="color: #ffffff">Hour Of Overtime</span></h3>
					</div>
					<div class="row-item col-md-3">
						<h1 class="vcex-milestone-number"><span class="vcex-milestone-time " style="color: #ffffff">347</span></h1>
						<h3 class="vcex-milestone-caption "><span style="color: #ffffff">Projects Completed</span></h3>
					</div>
					<div class="row-item col-md-3">
						<h1 class="vcex-milestone-number"><span class="vcex-milestone-time " style="color: #ffffff">162</span></h1>
						<h3 class="vcex-milestone-caption "><span style="color: #ffffff">Happy Customers</span></h3>
					</div>
					<div class="row-item col-md-3">
						<h1 class="vcex-milestone-number"><span class="vcex-milestone-time " style="color: #ffffff">1</span></h1>
						<h3 class="vcex-milestone-caption "><span style="color: #ffffff">Epic Company</span></h3>
					</div>
				</div>
			</div>
		</div>
	</div> -->
<div class="content">
    <!-- Quote in the Box -->
    <!--		<div class="b-box gray" style="padding: 20px 20px 0px;">
			<div class="blockquote">
				 Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium... <a href="#">Learn more<i class="icon-circle-arrow-right" style="margin-left: 7px; font-size: 14px;"></i>
				</a>
			</div>
		</div>
		<div class="shortcodes parallax" data-stellar-background-ratio="0.5" style="background: url(../../assets/img/parallax/5.jpg);">
			<div class="container layout">
				<div class="row">
					<div class="row-item col-md-12">
						<div class="testimonials">
							<div class="row">
								<div class="row-item col-md-4">
									<div class="b-quote">
										<img class="quote-ava" src="../../assets/img/team/team-7.jpg" alt="">
										<div class="quote-text">
											Aliquam a ipsum nulla. Fusce eu congue tellus, vitae ullamcorper dolor. Donec ut dapibus eros, id mattis enim. Donec eu auctor ipsum. Morbi ac aliquet neque.
											<div class="quote-author-name">John Doe</div>
											<div class="quote-author-position">
												Developer <a href="#" class="link"></a>
											</div>
										</div>
									</div>
								</div>
								<div class="row-item col-md-4">
									<div class="b-quote">
										<img class="quote-ava" src="../../assets/img/team/team-8.jpg" alt="">
										<div class="quote-text">
											Vestibulum quis urna auctor, gravida nibh eget, scelerisque nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean pretium, libero eu lacinia mollis, massa est auctor nis.
											<div class="quote-author-name">Nick Vendel</div>
											<div class="quote-author-position">
												Designer <a href="#" class="link"></a>
											</div>
										</div>
									</div>
								</div>
								<div class="row-item col-md-4">
									<div class="b-quote">
										<img class="quote-ava" src="../../assets/img/team/team-6.jpg" alt="">
										<div class="quote-text">
											Suspendisse potenti. Aliquam erat volutpat. Sed a odio non sapien placerat blandit. Mauris vel odio nunc. Curabitur nec massa sed libero tempor blandit.
											<div class="quote-author-name">Marry Nick</div>
											<div class="quote-author-position">
												Writer <a href="#" class="link"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
</div>